.main{
    padding-top: 3em;
    padding-bottom: 3em;
    width: 80%;
    font-size: 1.5em;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}
.bold{
    font-weight: bold;
}
.Firmenname{
    display: flex;
    justify-content: space-between;
}
.Adresse{
    display: flex;
    justify-content: space-between;
}
.EMail{
    display: flex;
    justify-content: space-between;
}
.Telefonummer{
    display: flex;
    justify-content: space-between;
}
.WebsideEntwickler{
    display: flex;
    justify-content: space-between;
}
.Kontakt{
    border-top: 1px solid black;
}
textarea{
    width: 100%;
}
.felder{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.felder p{
    margin-top: 0;
    width: 40%;
}
.felder .inp{
    width: 60%;
}
.felder .inp input{
    width: 100%;
    border-radius: 20px;
    padding: 1%;
    border: none;
    background-color: #ff8f08;
}
.felder button{
    width: 100%;
    padding: 1%;
    background-color: #ff8f08;
    border-radius: 20px;
    border: none;
}
@media (max-width: 1000px){
    .Adresse{
        display: block;
    }
    .Firmenname{
        display: block;
    }
    .Telefonummer{
        display: block;
    }
    .WebsideEntwickler{
        display: block;
    }
    .EMail{
        display: block;
    }
    .felder{
        display: block;
    }
    .felder p{
        margin-top: 0;
        width: 100%;
    }
    .felder .inp{
        width: 100%;
    }
}